.device {
    background-color: lightgreen;
    padding: 5px;
    margin: 5px;
    border: solid 1px green;
    border-radius: 3px;

    button {
        margin-left: 5px;
        cursor: pointer;
    }

    &.on {
        font-weight: bold;

        .far {
            font-weight: bold;
        }

        button .far {
            font-weight: normal;
        }
    }
}