header {
    display: flex;

    img {
        margin-right: 1em;
    }

    h1, h2, h3 {
        display: inline-block;
    }

    h2, h3 {
        margin-left: 1em;
    }
}

.dips {
    .on {
        background: black;
    }
}

.device-list {
    display: flex;
    flex-wrap: wrap;
}

.number {
    font-size: x-small;
}

td {
    padding: 5px;
    border: solid 1px lightgray;
    border-radius: 3px;
}